*{
    margin: 0;
    padding: 0;
    font-family: 'Caprasimo', cursive, 'Oswald', sans-serif;
    transition: all ease 0.9s;
}

body{
    background-image: url(./img/body_bg.png);
}

/* header styles */

header {
    background-color: #333;
    color: #fff;
    gap: 10px;
    padding: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/* cards styles */

.container1{
    display: grid;
    grid-template-columns: repeat(3, 20pc);
    row-gap: 1pc;
    justify-content: center;
    justify-items: center;
}

.nav{
    background-color: #232323;
    margin-bottom: 1pc;
    justify-content: space-between;
    padding: 0 1pc;
    height: 5pc;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.nav ul{
    list-style: none;
}
.nav ul li a{
    color: white !important;
    text-decoration: none !important;
}

a:hover{
    color: red;
}
.card{
    width: 19pc;
    background-color: #232323;
    color: white;
}
.number{
    position: relative;
    height: 14pc;
    width: 100%;
    background: white;
    color: #616161;
    font-family: fantasy;
    opacity: 0.09;  
    text-align: center;
    font-size: 6pc;
   
}
.imagen{
    width: 13pc;
    position: absolute;
    top: 40px;
    left: 16%;
}
.card:hover {
    background-color: #616161;
}
.card:hover .number{
    opacity: 1;
    font-size: 8pc;
}

.card:hover .imagen{
    width: 16pc;
    top: -9px;
    left: 8%;
}

.containerInformation{
    padding: 0 1pc;
    font-family: monospace;
    font-size: 1pc;
}

.containerInformation h5{
    display: flex;
    justify-content: space-between;
}

.centrar{
    display: flex;
    align-items: center;
    gap: 1pc;
}

.border{
    padding: 3px;
    margin: 0;
    border-radius: 6px;
}
.borderRadius{
    border-radius: 10px;
}
.more{
    padding: 0 1pc;
    font-family: fantasy;
    color: white;
    align-items: center;
    gap: 7px;
}
.more div{
    width: 2pc;
}
.more  img{
    width: 2pc;
}
.more:hover   img{
    rotate: 1deg;
    animation: rotate 0.1s linear;
}
/*slider*/
.sliderforcarts{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-container1{
    display: flex;
    width: 91%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 0 31pc;
  }
  
  .slider-cartas2{
    flex: 0 0 115%;
    width: 100%;
    object-fit: cover;
    margin: 1pc;
    scroll-snap-align: center;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }

  .slider-container::-webkit-scrollbar{
    height: 1pc;
  }
  .slider-container::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #232323;
  }
.anuncio{
    width: 15pc;
    text-align: center;
    font-family: fantasy;
    color: white;
}
@media screen and (max-width: 950px) {
    .container1{
        grid-template-columns: repeat(2, 20pc);
    }
}

@media screen and (max-width: 850px) {
    .container1{
        grid-template-columns: repeat(1, 20pc);
    }
    .slider-container1{
        padding: 0px 4pc;
    }
}